page-contact {
    ion-header {
        // background-color: #000;
        ion-navbar {
            .toolbar-background-ios,
            .toolbar-background-md {
                border-style: solid;
                background-color: #00bcd4;
                // background-color: #22c0cf ; -- DARK MODE
            }
            

            text-align: center;
            ion-title {
                .toolbar-title-ios,
                .toolbar-title-md {
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
            ion-buttons {
                .bar-button-solid-md,
                .bar-button-solid-ios {
                    background-color: #00bcd4;
                    font-size: 1.5rem;
                    margin-right: 10px;
                }
            }
        }
    }

    .background {
        background-color: #fff;
        ion-list {
            text-align: center;
            ion-item-sliding {
                width: 100%;
                ion-item {
                    ion-avatar {
                        ion-img {
                            box-shadow: 0px 0px 10px rgba($color: #00bcd4, $alpha: 0.6);
                        }
                    }
                    .list-md .item-block .item-inner {
                        border-bottom: none;
                    }
                    h4 {
                        // color: rgb(18, 152, 161);
                        color: #999;
                        font-weight: 400;
                    }
                }
                ion-item-options {
                    .button-md,
                    .button-ios {
                        width: 70px;
                        background-color: #00bcd4;
                        border-bottom-right-radius: 50%;
                        border-top-right-radius: 50%;

                    }
                }
            }
        }
    }
    .list-md ion-item-options {
        border-bottom: 1px solid #dedede;
    }
}