page-home {
    .item-md.item-block .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.input-has-focus:last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    // border-bottom-color: rgb(15, 115, 122);
    box-shadow: none;
}
.list-md .item-input.input-has-focus:last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none; 
}
    ion-header {
        // background-color: #000;
        ion-navbar {
            .toolbar-background-ios,
            .toolbar-background-md {
                border-style: solid;
                background-color: #00bcd4;
                // background-color: #22c0cf ; -- DARK MODE
            }
            

            text-align: center;
            ion-title {
                .toolbar-title-ios,
                .toolbar-title-md {
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
            ion-buttons {
                .bar-button-solid-md,
                .bar-button-solid-ios {
                    background-color: #00bcd4;
                    font-size: 1.5rem;
                    margin-right: 10px;
                }
            }
        }
    }
    

    .background {
        background-color: rgba($color: #fff, $alpha: 1);
        ion-list {
            text-align: center;
            ion-item {
                width: 95%;
                box-shadow: 1px 1px 5px rgba($color: #00bcd4, $alpha: 1);
                margin: 10px auto 0;
                border-radius: 16px;
                ion-item {
                    ion-avatar {
                        ion-img {
                            box-shadow: 0px 0px 10px rgba($color: #00bcd4, $alpha: 0.6);
                        }
                    }
                    .list-md .item-block .item-inner {
                        border-bottom: none;
                    }
                    h2 {
                        // color: #4caf50;
                        // color: #2ed484;
                        color: rgb(18, 152, 161);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}