<ion-header>
  <ion-navbar class="nav">
    <ion-title>My Friends</ion-title>
    <ion-buttons end>
      <button ion-button icon-only solid>
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding-top class="background">
  <ion-list>
    <!-->*ngFor="let friend of friends" -->
    <ion-item-sliding #sliding *ngFor="let friend of friends">
      <ion-item (click)="goToChatRoom(friend)">
        <ion-avatar item-start>
          <ion-img width="50" height="50" src="..."></ion-img>
        </ion-avatar>
        <h2>
          {{friend.name}}
        </h2>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button (click)="goToProfileFriend(friend)">
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <button ion-button (click)="addFriend()">ADD Friend
  </button>
</ion-content>