page-infor {
        ion-content {
            text-align: center;
            margin: -5px 0 0 0;
            .wrapper {
                background-color: #00bcd4;
                width: 100%;
                margin: 0;
                padding-top: 25px;
                padding-bottom:15px;
                .profile {
                    width: 65vw;
                    margin: 15px auto;
                    .avatar {
                        button {
                            border-radius: 50%;
                        }
                    }
                    .infor {
                        h1 {
                            font-size: 2rem;
                            color: #f5feff;
                            font-weight: 500;
                        }
                        h4 {
                            font-size: 1.5rem;
                            color: #bcf9ff;
                            font-weight: 300;
                        }
                    }
                }
            }
    
            /*
            ------ Information ------
            */
            ion-list {
                ion-item {
                    ion-icon {
                        font-size: 3rem;
                        color: rgb(19, 152, 161);
                    }
                    label {
                        text-align: right;
                        color: #999;
                    }
                    ion-label {
                        color: rgb(19, 152, 161) !important;
                    }
                    ion-select {
                        color: #999;
                    }
                    ion-datetime{
                        color: #999;
                    }
                }        
            }
    
        }
    .logo {
        display: block;
        background: no-repeat scroll 0 0 transparent;
        object-fit: scale-down;
        width: 100px;
        height: 80px;
        }
    ion-label[fixed] {
        flex: 0 0 60px;
        width: 60px;
        min-width: 60px;
        max-width: 150px;
    }

}
